body{
    background: grey;
}


#signInPage {
    font-family: 'Raleway', sans-serif;
}

.login {
    width: 25%;
    margin: 0px auto;
    margin-top: 100px;
    padding: 20px;
}


.login input:focus{
    border: 1px solid #777;
}

.login input{
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none; 
    width: 100%;
    margin-bottom: 20px;
}

.login button {
    color: #fff;
    background: #5d8ffc;
    width: 100%;
    border: 1px solid #5d8ffc;

}
.login button:hover {
    color: #5d8ffc;
    background: #fff;
    border: 1px solid #5d8ffc;
    
}



#signedIn-div {
    text-align: center;
    width: 25%;
    margin: 0px auto;
    margin-top: 100px;
    padding: 20px;

}

#signedIn-div button {
    width: 100%;
    margin-bottom: 20px;
    background: #5d8ffc;
    color: #fff;
    border: 1px solid #5d8ffc

}

#signedIn-div button:hover {
    width: 100%;
    background: #fff;
    color: #5d8ffc;
    border: 1px solid #5d8ffc

}


@media only screen and (max-width: 646px) {
    .login{ width: 183px;
    }
}
