

#pending-form {
    border: solid skyblue 2px;
}

#welcome-page {
    width: 75%;
    margin: 0 auto;
    background: white;
    padding: 0px, 20px;
    opacity: .7;
}

#donor-register-page {
    width: 75%;
    margin: 10px auto;
    background: rgba(255, 255, 255, 0.7);
    padding: 0px, 20px;
}

#request-received {
    width: 75%;
    margin: 10px auto;
    background: rgba(255, 255, 255, 0.7);
    padding: 0px, 20px;
}

#recipient-register-page {
    width: 75%;
    margin: 10px auto;
    background: rgba(255, 255, 255, 0.7);
    padding: 0px, 20px;
}

body {
    background: url("../../assets/images/lukas-blazek-261682-unsplash.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */




/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#right-panel {
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#right-panel select,
#right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}

#right-panel {
    height: 100%;
    float: right;
    width: 390px;
    overflow: auto;
}

#map {

    width: 500px;
    border: solid black 2px;
    height: 500px;
    margin: 0 auto;
    margin-right: 400px;
}

#floating-panel {
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    display: none;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 20px;
    margin-left: 30px;
    position: relative;
}

/* adds style to icon next to heading */
.fork {
    font-size: 55px;
    position: absolute;
    margin-left: -60px;
    margin-top: 10px;
    position: absolute;
}

/* paragraph style */

p {
    padding: 20px;
    text-align: center;
}

/* button style */

#donate-button {
    color: white;
    background-color: #328e04;
}

#find-button {
    color: white;
    background-color: #328e04;
}
.center-align {
    padding: 20px;
}

/* dropdown */
.dropdown-content{
    width: max-content !important;
    height:auto !important;
    opacity: .7;
 }

 /* Donor form style */
 .donor-form {
     padding: 50px;
     font-size: 20px;
     font-weight: bold;   
 }

 .active {
     color: black !important;
 }

 /* label focus color */
 .input-field input:focus + label {
    color: #328e04 !important;
  }
  /* label underline focus color */
  .row .input-field input:focus {
    border-bottom: 1px solid #328e04 !important;
    box-shadow: 0 1px 0 0 #328e04 !important
  }

  .row {
      padding-left: 30px;
      padding-right: 30px;
  }

  /* Pick up form style */
  .pickup-form {
    padding: 50px;
    font-size: 20px;
    font-weight: bold;   
}

label {
    color: black !important;
  }

/* overriding color of dropdown content from materialize */
.dropdown-content li>a, .dropdown-content li>span {
    color: #328e04;
}
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #328e04;
}

/* adds style to food donor table */
.table-wrapper {
    margin:50px;
}

tbody {
  background-color: white;
  opacity: .7;
}
.table-title {
    background-color: white;
    opacity: .7;
    border: black .7;
    border-width: 5px;
    border-style: solid;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
  }

/* Overwrite materialize style for claim button*/
.btn, .btn-large, .btn-small {
    background-color:#328e04 !important;
    margin: 10px;
}


/* Map style */

@media print {
    #map {
        height: 500px;
        margin: 0;
    }
    #right-panel {
        float: none;
        width: auto;
    }
}

.hide {
    display:none;
}
